.settings-folders-recommended-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.settings-folders-blocked-icon {
  color: var(--color-text-secondary);
  margin-left: 0.25rem;
}

.settings-folders-list-item {
  .ListItem-main-icon {
    margin-inline-end: 1.875rem !important;
  }

  .ChatInfo {
    display: flex;
    align-items: center;
    width: 100%;

    .Avatar {
      margin-left: -0.25rem;
      margin-right: 1.5rem;
    }

    .title {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      h3 {
        font-size: 1rem;
        font-weight: var(--font-weight-medium);
        line-height: 1.3125;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: left;
      }
    }

    .info {
      overflow: hidden;
    }

    .status {
      display: none;
    }

    &[dir="rtl"] {
      .title h3 {
        text-align: right;
      }
    }
  }

  .ListItem-button {
    .icon {
      opacity: 0.9;
    }
  }

  &.color-primary .ListItem-button {
    color: var(--color-primary);

    .icon {
      opacity: 1;
      color: inherit;
    }
  }

  &[dir="rtl"] {
    .Avatar {
      margin-left: 1.5rem;
      margin-right: -0.25rem;
    }
  }
}

.settings-content {
  .title-container {
    position: relative;
  }

  .title-container-icon {
    width: 24px;
    height: 24px;
  }

  .symbol-menu-button {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    margin-right: 0.25rem;
    padding: 0 0.5rem;
    width: unset !important;
  }

  .symbol-menu-trigger {
    top: unset;
    right: 0;
    bottom: 0;
  }

  .symbol-menu-icon {
    width: 32px;
    height: 32px;
    flex: 0 0 auto;
  }
}


.settings-item .ShowMoreButton {
  margin: 0 -1rem;
  width: calc(100% + 2rem);
  padding-left: 1rem !important;
}

.settings-sortable-container {
  position: relative;
}

.settings-sortable-container .draggable-knob {
  margin-top: -0.25rem;
}

.settings-sortable-item .multiline-item {
  padding-inline-end: 3rem;
}

.settings-sortable-item .Button {
  margin-right: -1rem;

  &:hover,
  &:active {
    background-color: transparent !important;
  }
}

.picker-category-title {
  padding-top: 0.75rem;
}

.Picker {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.masked-image {
  position: relative;
  width: 50px;
  height: 50px;
}

.masked-image img {
  width: 100%;
  height: 100%;
  filter: brightness(0) invert(1);
  mask-image: var(--img-src);
  -webkit-mask-image: var(--img-src);
}

.masked-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--img-color, red);
  mask-image: var(--img-src);
  -webkit-mask-image: var(--img-src);
}

.SettingsFoldersSymbolMenuButton-modal {
  height: var(--symbol-menu-height)
}
